@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p, a {
    @apply font-sulphur;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-gabarito;
  }
}